<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/adminlte/layout/main_layout">
<head>
    <title>Product Management - Administrator - One Mart</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Order Management
                <small>Order list</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Product Management</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Product List Table</h3>
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="product_table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Product SKU</th>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Sale price</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                <tr>
                                    <th>Product SKU</th>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Sale price</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- DataTables -->
    <script th:src="@{/adminlte/js/dateFormat.min.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/adminlte/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/adminlte/js/dateFormat.min.js}"></script>
    <script>
        $( document ).ready(function () {
            var table = $('#product_table').DataTable( {
                ajax: {
                    url: '/api/administration/v1/listProductData',
                    dataSrc: 'data'
                },
                columns: [
                    { data: 'sku', createdCell: function (td, cellData, rowData, row, col) {
                        $(td).html("<a href='/admin/product/update?sku=" + cellData +"'>" + cellData + "</a>");
                        $(td).css('font-weight', 'bold');
                    }},
                    { data: 'name' },
                    { data: 'slug' },
                    { data: 'short_description', "defaultContent":"null"},
                    { data: 'price', render: $.fn.dataTable.render.number( ',', '.', 0, '', ' đ' ) },
                    { data: 'sale_price', render: $.fn.dataTable.render.number( ',', '.', 0, '', ' đ' ) }
//                    { data: 'product_num' },
//                    { data: 'order_status' },
//                    { data: 'created_date', render: function (data, type, row) { return DateFormat.format.date(new Date(data), 'ddd, dd-MM-yyyy HH:mm:ss'); }},
//                    { data: 'modified_date', render: function (data, type, row) { return DateFormat.format.date(new Date(data), 'ddd, dd-MM-yyyy HH:mm:ss'); }}
                ]
            } );
        })
    </script>
</th:block>
</body>
</html>