<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/adminlte/layout/main_layout">
<head>
    <title>Product Management - Administrator - One Mart</title>
    <style>
        .ck-editor__editable {
            min-height: 180px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Order Management
                <small>Order list</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/admin/product-list}"><i class="fa fa-list"></i> Product Management</a></li>
                <li class="active">Update Product</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Update Product</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <script th:inline="javascript">
                    jQuery(function ($) {
                        $(window).ready(function () {
                            updateProductVue.fetchData(/*[[${targetProduct}]]*/'none-data');
                        })
                    });
                </script>
                <form class="form-horizontal" method="post" action="/process/updateProduct" id="update_product" @submit.prevent="validateForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="sku" class="col-sm-2 control-label">Product sku</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="sku" readonly="true" name="sku" :value="product_sku">
                                    </div>
                                    <div class="col-sm-2">
                                    <span class="input-group-btn">
                                    <input type="button" class="btn btn-block btn-success" ref="checkSkuBtn" v-on:click="validateSku()" value="Check">
                                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Product name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="name" placeholder="Product name" name="name" v-model="product_name">
                                        <span><p class="help-block" style="color:#f39c12" v-html="name_message"></p></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="slug" class="col-sm-2 control-label">Slug</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="slug" placeholder="Product slug" name="slug" v-model="product_slug">
                                        <span><p class="help-block" style="color:#f39c12" v-html="slug_message"></p></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label><input type="checkbox" v-model="parse_slug"> Parse name to slug</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="salePrice" class="col-sm-2 control-label">Sale Price</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input style="z-index: 0" type="number" min="0" step="500" class="form-control"
                                                   id="salePrice" placeholder="Sale Price" name="salePrice" v-model="product_salePrice">
                                            <span class="input-group-addon">đ</span>
                                        </div>
                                        <span v-html="salePrice_message"></span>
                                    </div>
                                    <label for="price" class="col-sm-2 control-label">Price</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input style="z-index: 0" type="number" min="0" step="500" class="form-control"
                                                   id="price" placeholder="Price" name="price" v-model="product_price">
                                            <span class="input-group-addon">đ</span>
                                        </div>
                                        <span v-html="price_message"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="salePrice" class="col-sm-2 control-label">Originator</label>
                                    <div class="col-sm-4">
                                        <v-multiselect ref="originKeyCompo" v-model="origin_key_selected" track-by="slug" label="name" select-label=""
                                                       placeholder="Select one" :options="origin_keys" :allow-empty="false">
                                        </v-multiselect>
                                        <input type="hidden" name="originatorKey" :value="JSON.stringify(origin_key_selected)">
                                    </div>
                                    <div class="col-sm-6">
                                        <v-multiselect ref="originValueCompo" v-model="origin_value_selected" :options="origin_values" :multiple="true"
                                                       :taggable="true" @tag="addTag" :clear-on-select="false"
                                                       :hide-selected="true" :preserve-search="true" placeholder="Search or add a tag"
                                                       tag-placeholder="Add a tag" label="name" track-by="slug" :preselect-first="false">
                                        </v-multiselect>
                                        <input type="hidden" name="originatorValues" :value="JSON.stringify(origin_value_selected)" />
                                    </div>
                                </div>
                                <div v-pre class="form-group" id="upload_google">
                                    <label class="col-sm-2 control-label">Images</label>
                                    <div class="col-sm-10">
                                        <input type="file" ref="uploadFiles" multiple />
                                        <span v-html="message" id="images_message"></span>
                                        <input ref="uploadButton" v-on:click="upload()" type="button"
                                               :value="isUploading ? 'Uploading' : 'Upload'" :disabled="isUploading">
                                        <input type="hidden" ref="images" name="images" id="images"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="categories" class="col-sm-2 control-label">Category</label>
                                    <div class="col-sm-10">
                                        <category-options ref='categoriesComponent'></category-options>
                                        <span><p class="help-block" style="color:#f39c12" v-html="category_message"></p></span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="description" class="col-sm-2 control-label">Short description</label>
                                    <div class="col-sm-10">
                            <textarea id="shortDescription" name="shortDescription" placeholder="Short Description" :value="product_shortDesc"
                                      style="height: 30em; width: 100%"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="description" class="col-sm-1 control-label">Description</label>
                                    <div class="col-sm-11">
                                    <textarea class="form-control" id="description" placeholder="Description" name="description" style="height: 300px" v-model="product_desc">
                                    </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Update Product</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/10.0.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-multiselect@2.0.3/dist/vue-multiselect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script th:src="@{/adminlte/js/admin-vue-component.js}"></script>
    <script th:src="@{/adminlte/js/admin-vue-app.js}"></script>
    <script>
        $(function () {
//            ClassicEditor
//                .create( document.querySelector( '#shortDescription' ) )
//                .catch( error => { console.error( error ); });
            CKEDITOR.replace('shortDescription');
            CKEDITOR.replace('description')
        })
    </script>
</th:block>
</body>
</html>