<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/adminlte/layout/main_layout">
<head>
    <title>Product Management - Administrator - One Mart</title>
    <style>
        .ck-editor__editable {
            min-height: 180px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Add Product</h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{/admin/product-list}"><i class="fa fa-list"></i> Product Management</a></li>
            <li class="active">Add Product</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
        <div class="col-md-12">
        <div class="nav-tabs-custom">
            <script th:inline="javascript">
                jQuery(function ($) {
                    $(window).ready(function () {
                        addProductVue.fetchData(/*[[${#locale.toLanguageTag()}]]*/'vi-VN');
                    })
                });
            </script>
            <form class="form-horizontal" method="post" action="/admin/process/addProduct" id="add_product" @submit.prevent="validateForm">
            <div>
                <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">General</a></li>
                <li><a href="#tab_2" data-toggle="tab">Storage</a></li>
                <li><a href="#tab_3" data-toggle="tab">Attributes</a></li>
                <!--<li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>-->
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="sku" class="col-sm-2 control-label">Product sku</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="sku" placeholder="Product sku" name="sku" @blur="sku_state=2" v-model="product_sku">
                                        <span v-html="sku_message"></span>
                                    </div>
                                    <div class="col-sm-2">
                                            <span class="input-group-btn">
                                            <input type="button" class="btn btn-block btn-success" ref="checkSkuBtn" v-on:click="validateSku()" value="Check">
                                            </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Product name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="name" placeholder="Product name" name="name" v-model="product_name">
                                        <span><p class="help-block" style="color:#f39c12" v-html="name_message"></p></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="slug" class="col-sm-2 control-label">Slug</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="slug" placeholder="Product slug" name="slug" v-model="product_slug">
                                        <span><p class="help-block" style="color:#f39c12" v-html="slug_message"></p></span>
                                        <label style="font-weight: normal"><input type="checkbox" v-model="parse_slug"> Parse name to slug</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="salePrice" class="col-sm-2 control-label">Sale Price</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input style="z-index: 0" type="number" min="0" step="500" class="form-control" id="salePrice" placeholder="Sale Price" name="salePrice">
                                            <span class="input-group-addon">đ</span>
                                        </div>
                                        <span v-html="salePrice_message"></span>
                                    </div>
                                    <label for="price" class="col-sm-2 control-label">Price</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input style="z-index: 0" type="number" min="0" step="500" class="form-control" id="price" placeholder="Price" name="price">
                                            <span class="input-group-addon">đ</span>
                                        </div>
                                        <span v-html="price_message"></span>
                                    </div>
                                </div>
                                <div v-pre class="form-group" id="upload_google">
                                    <label class="col-sm-2 control-label">Images</label>
                                    <div class="col-sm-10">
                                        <input type="file" ref="uploadFiles" multiple />
                                        <span v-html="message" id="images_message"></span>
                                        <input ref="uploadButton" v-on:click="upload()" type="button"
                                               :value="isUploading ? 'Uploading' : 'Upload'" :disabled="isUploading">
                                        <input type="hidden" ref="images" name="images" id="images"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="categories" class="col-sm-2 control-label">Category</label>
                                    <div class="col-sm-10">
                                        <category-options ref='categoriesComponent'></category-options>
                                        <span><p class="help-block" style="color:#f39c12" v-html="category_message"></p></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="shortDescription" class="col-sm-2 control-label">Short description</label>
                                    <div class="col-sm-10">
                                        <textarea id="shortDescription" name="shortDescription" placeholder="Short Description"
                                                  style="height: 30em; width: 100%"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="description" class="col-sm-1 control-label">Description</label>
                                    <div class="col-sm-11">
                                    <textarea class="form-control" id="description" placeholder="Description" name="description" style="height: 300px">
                                    </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">Manage stock</label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="manageStock" v-model="enable_stock"> Enable stock management for this product</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" v-if="!enable_stock">
                                    <label for="name" class="col-sm-3 control-label">Stock status</label>
                                    <div class="col-sm-9">
                                        <select class="form-control select2" name="stockStatus" style="width: 100%;">
                                            <option selected="selected" value="instock">Instock</option>
                                            <option value="out_of_stock">Out of stock</option>
                                            <option value="temp_out_of_stock">Temporarily out of stock</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" v-if="enable_stock">
                                    <label for="stock_quantity" class="col-sm-3 control-label">Stock quantity</label>
                                    <div class="col-sm-9">
                                        <input style="z-index: 0" type="number" min="0" class="form-control" id="stock_quantity"
                                               placeholder="Stock Quantity" name="stockQuantity">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_3">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="salePrice" class="col-sm-2 control-label">Originator</label>
                            <div class="col-sm-4">
                                <v-multiselect v-model="origin_key_selected" track-by="slug" label="name" select-label=""
                                               placeholder="Select one" :options="origin_keys" :allow-empty="false">
                                </v-multiselect>
                                <input type="hidden" name="originatorKey" :value="JSON.stringify(origin_key_selected)">
                            </div>
                            <div class="col-sm-6">
                                <v-multiselect v-model="origin_value_selected" :options="origin_values" :multiple="true"
                                               :taggable="true" @tag="addTag" :clear-on-select="false"
                                               :hide-selected="true" :preserve-search="true" placeholder="Search or add a tag"
                                               tag-placeholder="Add a tag" label="name" track-by="slug" :preselect-first="false">
                                </v-multiselect>
                                <input type="hidden" name="originatorValues" :value="JSON.stringify(origin_value_selected)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success pull-right">Add Product</button>
            </div>
            </form>
        </div>
        </div>
        </div>
    </section>
</div>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/10.0.0/classic/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script src="https://unpkg.com/vue-multiselect@2.0.3/dist/vue-multiselect.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
<script th:src="@{/adminlte/js/admin-vue-component.js}"></script>
<script th:src="@{/adminlte/js/admin-vue-app.js}"></script>
<script>
    $(function () {
        ClassicEditor
            .create( document.querySelector( '#shortDescription' ) )
            .catch( error => { console.error( error ); });
        CKEDITOR.replace('description')
    })
</script>
</th:block>
</body>
</html>