<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/adminlte/layout/main_layout">
<head>
    <title>Seller Management - Administrator - One Mart</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Seller Management<small>Add seller</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Product Management</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Product</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <form class="form-horizontal" method="post" action="/admin/process/addSeller" id="add_seller" @submit.prevent="validateForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Seller name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="name" placeholder="Seller name" name="name" v-model="seller_name">
                                        <span><p class="help-block" style="color:#f39c12" v-html="name_message"></p></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="slug" class="col-sm-2 control-label">Slug</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="slug" placeholder="Seller slug" name="slug" v-model="seller_slug">
                                        <span><p class="help-block" style="color:#f39c12" v-html="slug_message"></p></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label><input type="checkbox" v-model="parse_slug"> Parse name to slug</label>
                                        </div>
                                    </div>
                                </div>
                                <div v-pre class="form-group" id="upload_google">
                                    <label class="col-sm-2 control-label">Logo</label>
                                    <div class="col-sm-10">
                                        <input type="file" ref="uploadFiles"/>
                                        <span v-html="message" id="images_message"></span>
                                        <input ref="uploadButton" v-on:click="upload()" type="button"
                                               :value="isUploading ? 'Uploading' : 'Upload'" :disabled="isUploading">
                                        <input type="hidden" ref="images" name="logo" id="images"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Phone:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input type="text" class="form-control" name="phone" id="phone"
                                               placeholder="090 123 4567 or 0121 123 4567" v-model="seller_phone">
                                        </div>
                                        <span><p class="help-block" style="color:#f39c12" v-html="phone_message"></p></span>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="description" class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <textarea id="shortDescription" name="address" placeholder="Address"
                                      rows="10" cols="65"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="description" class="col-sm-1 control-label">Description</label>
                                    <div class="col-sm-11">
                                    <textarea class="form-control" id="description" placeholder="Description" name="description" style="height: 300px">
                                    </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Add Seller</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script th:src="@{/adminlte/js/admin-vue-app.js}"></script>
    <script>
        $(function () {
            CKEDITOR.replace('description');
        })
    </script>
</th:block>
</body>
</html>