<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/nonav_full_page_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb">
                <a th:href="@{/}">One Mart</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Lỗi 404</nav>
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="center-block">
                        <div class="info-404">
                            <div class="text-xs-center inner-bottom-xs">
                                <h2 class="display-3">404!</h2>
                                <p class="lead">Không tìm thấy đường dẫn hiện tại, bạn vui lòng tìm kiếm sản phẩm hoặc trở lại
                                    <a th:href="@{/}">trang chủ</a>.</p>
                                <hr class="m-y-2">
                                <!--<div class="sub-form-row inner-bottom-xs">-->
                                    <!--<div class="widget woocommerce widget_product_search">-->
                                        <!--<form class="woocommerce-product-search" method="get" role="search">-->
                                            <!--<label for="woocommerce-product-search-field" class="screen-reader-text">Tìm kiếm:</label>-->
                                            <!--<input type="search" title="Search for:" name="s" value=""-->
                                                   <!--placeholder="Tìm kiếm sản phẩm bằng tên, sku, nhãn hàng..." class="search-field" id="woocommerce-product-search-field">-->
                                            <!--<input type="submit" value="Tìm kiếm">-->
                                            <!--&lt;!&ndash;<input type="hidden" value="product" name="post_type">&ndash;&gt;-->
                                        <!--</form>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <th:block layout:replace="/electro/fragments/brand-carousel :: brand-carousel">
        This is a top-header
    </th:block>
</th:block>
</body>
</html>