<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/sidebar_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb">
                <span class="delimiter" style="padding: 0;  margin: 0 ;"></span>
                <a th:href="@{/}">One Mart</a>
                <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                <a th:href="@{/tai-khoan}">Tài khoản</a>
            </nav>

            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <header class="page-header">
                        <h1 class="page-title">Thông Tin Tài Khoản</h1>
                    </header>
                    <div class="entry-content">
                        <script th:inline="javascript">
                            jQuery(function ($) {
                                $(window).ready(function () {
                                    updateUserInfoForm.fetchData(/*[[${account}]]*/'{}');
                                })
                            });
                        </script>
                        <div class="col-sm-9" id="user_info_form">
                            <div role="form" class="wpcf7">
                                <form th:action="@{/process/changeUserInfo}" method="post" modelAttribute="userInfoForm"
                                      @submit="validateForm">
                                    <div class="form-group">
                                        <label>Tên*</label><br/>
                                        <span class="wpcf7-form-control-wrap">
                                            <input type="text" name="firstName" v-model="firstName"
                                                   class="input-text" aria-required="true" aria-invalid="false"/>
                                            <span style="color:red" v-html="valFNMess"></span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label>Họ và tên lót*</label><br/>
                                        <span class="wpcf7-form-control-wrap">
                                            <input type="text" name="lastName" v-model="lastName"
                                                   class="input-text" aria-required="true" aria-invalid="false"/>
                                            <span style="color:red" v-html="valLNMess"></span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên tài khoản*</label><br/>
                                        <span class="wpcf7-form-control-wrap">
                                            <input type="text" name="username" v-model="username" readonly
                                                   class="input-text"
                                                   style="cursor: not-allowed; background-color: #eee"
                                                   aria-required="true" aria-invalid="false"/>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label>Địa chỉ email</label><br/>
                                        <span class="wpcf7-form-control-wrap">
                                            <input type="text" name="email" v-model="email" readonly
                                                   class="input-text"
                                                   style="cursor: not-allowed; background-color: #eee"
                                                   aria-invalid="false"/></span>
                                    </div>

                                    <div class="form-group">
                                        <span class="wpcf7-form-control-wrap your-message">
                                            <label style="cursor: pointer">
                                            <input type="checkbox" name="changePassword" v-bind:value="changePassword"
                                                   aria-invalid="false" v-model="changePassword">
                                            Đổi mật khẩu?
                                                </input>
                                            </label>
                                        </span>
                                    </div>

                                    <div v-if="changePassword">
                                        <!--<div class="form-group">-->
                                        <!--<label>Nhập mật khẩu cũ</label><br/>-->
                                        <!--<span class="wpcf7-form-control-wrap subject">-->
                                        <!--<input type="text" name="oldPassword" class="input-text"-->
                                        <!--aria-invalid="false"/></span>-->
                                        <!--</div>-->
                                        <div class="form-group">
                                            <label>Nhập mật khẩu mới</label><br/>
                                            <span class="wpcf7-form-control-wrap subject">
                                            <input type="password" name="newPassword"
                                                   class="wpcf7-form-control input-text"
                                                   aria-invalid="false" v-model="newPassword"/>
                                            <span style="color:red" v-html="valNewPassMess"></span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label>Xác nhận mật khẩu mới</label><br/>
                                            <span class="wpcf7-form-control-wrap subject">
                                            <input type="password" name="reNewPassword"
                                                   class="wpcf7-form-control input-text"
                                                   aria-invalid="false" v-model="reNewPassword"/>
                                            <span style="color:red" v-html="valReNewPassMess"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <p><input type="submit" value="Cập nhật thông tin"
                                                  class="wpcf7-form-control wpcf7-submit"/></p>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .col -->

                    </div><!-- .entry-content -->
                </main><!-- #main -->
            </div><!-- #primary -->

            <div id="sidebar" class="sidebar" role="complementary">
                <aside class="widget woocommerce widget_product_categories electro_widget_product_categories">
                    <ul class="product-categories category-single">
                        <li class="product_cat">
                            <ul>
                                <li class="cat-item current-cat">
                                    <span th:text="#{general.account}">Unknown</span>
                                    <ul class='children'>
                                        <li class="cat-item">
                                            <a th:href="@{/tai-khoan}" th:text="#{account.information}">Unknown</a>
                                        </li>
                                        <li class="cat-item">
                                            <a th:href="@{/tai-khoan/don-hang}">Thông tin đơn hàng</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
        </div><!-- .container -->
    </div><!-- #content -->
</th:block>
</body>
</html>