<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/sidebar_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb">
                <span class="delimiter" style="padding: 0;  margin: 0 ;"></span>
                <a th:href="@{/}">One Mart</a>
                <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                <a th:href="@{/tai-khoan}">Tài khoản</a>
                <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                Đơn hàng
            </nav>
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <header class="page-header">
                        <h1 class="page-title">Thông Tin Đơn Hàng</h1>
                    </header>
                    <div class="entry-content">
                        <div class="col-sm-12">
                            <table class="table-responsive">
                                <thead>
                                    <tr>
                                        <th>Mã đơn hàng</th>
                                        <th>Sản phẩm</th>
                                        <th>Ngày đặt hàng</th>
                                        <th>Tổng tiền</th>
                                        <th>Tình trạng đơn hàng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="order: ${all_orders}">
                                        <td style="font-weight: bold;" th:text="${order.orderId}"></td>
                                        <td th:text="${order.shortProductNames}"></td>
                                        <td th:text="${#dates.format(order.createdDate, 'dd-MM-yyyy')}"></td>
                                        <td th:text="${#numbers.formatDecimal(order.totalAmount,0, 'DEFAULT', 0, 'DEFAULT')} + 'đ'"></td>
                                        <td th:text="#{'order.status.' + ${order.orderStatus.name().toLowerCase()}}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- .col -->
                    </div><!-- .entry-content -->
                </main><!-- #main -->
            </div><!-- #primary -->
            <div id="sidebar" class="sidebar" role="complementary">
                <aside class="widget woocommerce widget_product_categories electro_widget_product_categories">
                    <ul class="product-categories category-single">
                        <li class="product_cat">
                            <ul>
                                <li class="cat-item current-cat">
                                    <span th:text="#{general.account}">Unknown</span>
                                    <ul class='children'>
                                        <li class="cat-item">
                                            <a th:href="@{/tai-khoan}" th:text="#{account.information}">Unknown</a>
                                        </li>
                                        <li class="cat-item">
                                            <a th:href="@{/tai-khoan/don-hang}">Thông tin đơn hàng</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
        </div><!-- .container -->
    </div><!-- #content -->
</th:block>
</body>
</html>