<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/nonav_full_page_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb"><a th:href="@{/}">One Mart</a><span class="delimiter"><i
                    class="fa fa-angle-right"></i></span>Đăng Ký Tài Khoản
            </nav><!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <article id="post-8" class="hentry">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="customer-login-form">
                                    <span class="or-text" th:text="#{general.or}"></span>
                                    <div class="col2-set" id="customer_login">
                                        <div class="col-1">
                                            <h2>Đăng Nhập</h2>
                                            <form th:action="@{/process/login}" method="post" class="login" id="login_form" @submit.prevent="validateForm">
                                                <p class="before-login-text" th:if="${error_message}" style="color:red; font-weight: bold" th:text="${error_message}"></p>
                                                <p class="before-login-text" th:if="${error_message==null}" th:text="#{general.authentication.greeting}"></p>
                                                <p class="form-row form-row-wide">
                                                    <label for="username">Tên tài khoản<span class="required">*</span></label>
                                                    <input @blur="checkUN()" type="text" class="input-text" name="username" id="username" v-model="username"/>
                                                    <span style="color:red" v-html="valUNMess"></span>
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <label for="password">Mật khẩu<span class="required">*</span></label>
                                                    <input @blur="checkPW()" class="input-text" type="password" name="password" id="password" v-model="password"/>
                                                    <span style="color:red" v-html="valPassMess"></span>
                                                </p>
                                                <p class="form-row">
                                                    <input class="button" type="submit" value="Đăng nhập" name="login">
                                                    <!--<label for="rememberme" class="inline"><input name="rememberme"-->
                                                    <!--type="checkbox"-->
                                                    <!--id="rememberme"-->
                                                    <!--value="forever"/>-->
                                                    <!--Lưu đăng nhập</label>-->
                                                </p>
                                            </form>
                                            <div id="form_methods">
                                                <form id="login_google" th:action="@{/auth/google}" method="post">
                                                    <input type="hidden" name="scope" value="profile"/>
                                                    <a id="login_google" class="btn btn-block btn-social btn-google"
                                                       v-on:click="submit('login_google')">
                                                        <span class="fa fa-google"></span> Đăng nhập bằng Google
                                                    </a>
                                                </form>
                                                <p></p>
                                                <form id="login_facebook" th:action="@{/auth/facebook}" method="post">
                                                    <input type="hidden" name="scope" value="public_profile"/>
                                                    <a id="login_facebook" class="btn btn-block btn-social btn-facebook"
                                                       v-on:click="submit('login_facebook')">
                                                        <span class="fa fa-facebook"></span> Đăng nhập bằng Facebook
                                                    </a>
                                                </form>
                                            </div>
                                            <!--<p class="lost_password"><a href="login-and-register.html">Quên mật khẩu?</a></p>-->

                                        </div><!-- .col-1 -->
                                        <div class="col-2">
                                            <h2 th:text="#{general.registry}"></h2>
                                            <form th:action="@{/process/registry}" method="post" class="register" modelAttribute="registryForm" id="registry_form" @submit.prevent="validateForm">
                                                <p class="before-register-text">Tạo một tài khoản mới</p>
                                                <p class="form-row form-row-wide">
                                                    <label for="reg_firstname">Tên<span class="required">*</span></label>
                                                    <input @blur="checkFN()" type="text" class="input-text" name="firstName" id="reg_firstname" v-model="firstName"/>
                                                    <span style="color:red" v-html="valFNMess"></span>
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <label for="reg_username">Tên tài khoản<span class="required">*</span></label>
                                                    <input @blur="checkUN()" type="input" class="input-text" name="username" id="reg_username" v-model="username"/>
                                                    <span style="color:red" v-html="valUNMess"></span>
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <label for="reg_email">Địa chỉ email<span class="required">*</span></label>
                                                    <input @blur="checkEmail()" type="email" class="input-text" name="email" id="reg_email" v-model="email"/>
                                                    <span style="color:red" v-html="valEmailMess"></span>
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <label for="reg_password">Mật khẩu<span class="required">*</span></label>
                                                    <input @blur="checkPW()" type="password" class="input-text" name="password" id="reg_password" v-model="password"/>
                                                    <span style="color:red" v-html="valPassMess"></span>
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <label for="reg_repassword">Nhập lại mật khẩu<span class="required">*</span></label>
                                                    <input @blur="checkRePW()" type="password" class="input-text" name="confirmPassword" id="reg_repassword" v-model="repassword"/>
                                                    <span style="color:red" v-html="valRePassMess"></span>
                                                </p>
                                                <p class="form-row"><input type="submit" class="button" name="register"
                                                                           value="Đăng ký"/></p>
                                                <!--<div class="register-benefits">-->
                                                <!--<h3>Sign up today and you will be able to :</h3>-->
                                                <!--<ul>-->
                                                <!--<li>Speed your way through checkout</li>-->
                                                <!--<li>Track your orders easily</li>-->
                                                <!--<li>Keep a record of all your purchases</li>-->
                                                <!--</ul>-->
                                                <!--</div>-->
                                            </form>
                                        </div><!-- .col-2 -->
                                    </div><!-- .col2-set -->
                                </div><!-- /.customer-login-form -->
                            </div><!-- .woocommerce -->
                        </div><!-- .entry-content -->
                    </article><!-- #post-## -->
                </main><!-- #main -->
            </div><!-- #primary -->
        </div><!-- .col-full -->
    </div><!-- #content -->
    <th:block layout:replace="/electro/fragments/brand-carousel :: brand-carousel">
        This is a top-header
    </th:block>
</th:block>
</body>
</html>