<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/single_full_width_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb">
                <span class="delimiter" style="padding: 0;  margin: 0 ;"></span>
                <a th:href="@{/}">One Mart</a>
                <span class="delimiter"><i class="fa fa-angle-right"></i></span>Giỏ Hàng
            </nav>
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <article class="page type-page status-publish hentry">
                        <header class="entry-header"><h1 itemprop="name" class="entry-title">Giỏ Hàng</h1></header>
                        <!-- .entry-header -->
                        <form>
                            <table class="shop_table shop_table_responsive cart">
                                <tbody th:unless="${cart}">
                                <tr>
                                    <td class="actions" colspan="6" style="text-align: center">
                                        <h3>Giỏ hàng hiện tại đang rỗng.</h3>
                                    </td>
                                </tr>
                                </tbody>
                                <th:block th:if="${cart}">
                                    <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-subtotal">Tổng</th>
                                    </tr>
                                    </thead>
                                    <tbody id="manage_cart">
                                    <th:block th:each="cartProduct : ${cart.cartProducts}">
                                    <tr class="cart_item" th:with="product=${cartProduct.product},
                                                                    productLink=@{'/san-pham/'+${product.i18nSlug.get(#locale.toLanguageTag())}+'-'+${product.sku}}"
                                                            th:id="@{cart_${product.sku}}">
                                        <td class="product-remove">
                                            <a href="#" @click.prevent="deleteFromCart($event)" th:attr="value=${product.sku}" class="remove">×</a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a th:href="${productLink}">
                                                <img style="width: 180px; height: 180px"
                                                     th:with="productImg=${product.images.isEmpty() ? '' :
                                                         #strings.startsWith(product.images[0],'http')?product.images[0]+'&sz=w180-h180':'/products/images/'+product.images[0]}"
                                                     th:attr="src=${productImg}" alt="">
                                            </a>
                                        </td>
                                        <td data-title="Sản phẩm" class="product-name">
                                            <a th:href="${productLink}" th:text="${product.i18nName.get(#locale.toLanguageTag())}">Unknown</a>
                                        </td>
                                        <td data-title="Giá" class="product-price">
                                            <span class="amount" th:text="${#numbers.formatDecimal(product.salePrice,
                                                                    0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span>
                                        </td>

                                        <td data-title="Số lượng" class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <!--<input type="button" class="minus" value="-">-->
                                                <label>Số lượng:</label>
                                                <input type="number" size="4" class="input-text qty text" title="Qty"
                                                       th:value="${cartProduct.quantity}"  disabled
                                                       max="29" min="0" step="1">
                                                <!--<input type="button" class="plus" value="+">-->
                                            </div>
                                        </td>

                                        <td data-title="Tổng" class="product-subtotal">
                                            <span class="amount"
                                                  th:text="${#numbers.formatDecimal(cartProduct.total, 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span>
                                        </td>
                                    </tr>
                                    </th:block>
                                    <tr>
                                        <td class="actions" colspan="6">
                                            <!--<div class="coupon">-->
                                            <!--<label for="coupon_code">Coupon:</label> <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code"> <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">-->
                                            <!--</div>-->
                                            <!--<input type="submit" value="Cập Nhật" name="update_cart" class="button">-->
                                            <div class="wc-proceed-to-checkout">
                                                <a class="checkout-button button alt wc-forward" th:href="@{/thanh-toan}">Thanh
                                                    Toán</a>
                                            </div>

                                            <input type="hidden" value="1eafc42c5e" name="_wpnonce"><input type="hidden"
                                                                                                           value="/electro/cart/"
                                                                                                           name="_wp_http_referer">
                                        </td>
                                    </tr>
                                    </tbody>
                                </th:block>
                            </table>
                        </form>
                        <div th:if="${cart}" class="cart-collaterals">
                            <div class="cart_totals ">
                                <h2>Tổng Tiền Đơn Hàng</h2>
                                <table class="shop_table shop_table_responsive">
                                    <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Tiền Đơn Hàng</th>
                                        <td data-title="Subtotal"><span class="amount"
                                                                        th:text="${#numbers.formatDecimal(
                                                                        (null == cart ? 0.0 : cart.totalSum), 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Tổng Cộng</th>
                                        <td data-title="Total"><strong><span class="amount"
                                                                             th:text="${#numbers.formatDecimal(
                                                                             (null == cart ? 0.0 : cart.totalSum), 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span></strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <a class="checkout-button button alt wc-forward" href="checkout.html">Proceed to
                                        Checkout</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </main><!-- #main -->
            </div><!-- #primary -->
        </div><!-- .container -->
    </div><!-- #content -->
    <th:block layout:replace="/electro/fragments/brand-carousel :: brand-carousel">
        This is a top-header
    </th:block>
</th:block>
</body>
</html>