<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/sidebar_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">

<div id="content" class="site-content" tabindex="-1">
<div class="container">

    <nav class="woocommerce-breadcrumb" th:with="localeStr = #{locale}">
        <span class="delimiter" style="padding: 0;  margin: 0 ;"></span>
        <a th:href="@{/}">One Mart</a>
        <th:block th:each="category, iterStat : ${categories}">
            <span class="delimiter">
                <i class="fa fa-angle-right"></i>
            </span>
            <th:block th:unless="${iterStat.last}">
                <a th:href="${'/' + category.i18nSlug.get(#locale.toLanguageTag()) + '-c' + category.selectId}"
                   th:text="${category.i18nName.get(#locale.toLanguageTag())}">Unknown></a>
            </th:block>
            <th:block th:if="${iterStat.last}" th:text="${this_category.i18nName.get(#locale.toLanguageTag())}">Unknown</th:block>
        </th:block>
    </nav>

    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <header class="page-header">
                <h1 class="page-title" th:text="${this_category.name}">Unknown</h1>
                <p class="woocommerce-result-count" th:text="${pager.totalCount + ' kết quả'}">0 kết quả</p>
            </header>
            <div class="shop-control-bar" id="product-control-bar">
                <sorting-product></sorting-product>
                <nav class="electro-advanced-pagination">
                    <form method="post" class="form-adv-pagination">
                        <input id="goto-page" size="2" min="1" max="2" step="1" type="number" class="form-control" th:value="${pager.currentPage}" />
                    </form>
                    <th:block th:text="${'trong ' + pager.totalPages}"></th:block>
                    <!--<a class="next page-numbers" href="#">&rarr;</a>-->
                    <script>
                        jQuery(document).ready(function($){
                            $( '.form-adv-pagination' ).on( 'submit', function() {
                                var link 		= '#',
                                    goto_page 	= $( '#goto-page' ).val(),
                                    new_link 	= link.replace( '%#%', goto_page );
                                window.location.href = new_link;
                                return false;
                            });
                        });
                    </script>
                </nav>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="grid" aria-expanded="true">
                    <ul class="products columns-3">
                        <th:block th:each="p, iterStat : ${products}">
                            <li class="product" th:classappend="${iterStat.index%3==0 ? 'first' : iterStat.index%3==3} ? 'last' : ''">
                                <div class="product-outer">
                                    <div class="product-inner" th:with="productLink=${'/san-pham/' + p.i18nSlug.get(#locale.toLanguageTag()) + '-'+ p.sku}">
                                        <span class="loop-product-categories" th:with="category=${p.categories[p.categories.size()-1]}">
                                            <a th:href="${'/'+category.i18nSlug.get(#locale.toLanguageTag())+'-c'+category.selectId}" rel="tag"
                                               th:text="${category.i18nName.get(#locale.toLanguageTag())}">Unknown product</a>
                                        </span>
                                        <a th:href="${productLink}">
                                            <h3 th:text="${p.i18nName.get(#locale.toLanguageTag())}"></h3>
                                            <div class="product-thumbnail">
                                                <img th:with="productImg=${p.images.isEmpty() ? '' :
                                                #strings.startsWith(p.images[0],'http')?p.images[0]+'&sz=w239-h222':'/products/images/' + p.images[0]}"
                                                     th:attr="src=${productImg},alt=${p.slug}" style="width: 239px; height: 222px">
                                            </div>
                                        </a>
                                        <div class="price-add-to-cart">
                                            <span class="price">
                                                <span class="electro-price">
                                                    <ins><span class="amount"
                                                               th:text="${#numbers.formatDecimal(p.salePrice,0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span></ins>
                                                    <del><span class="amount"
                                                               th:text="${#numbers.formatDecimal(p.regularPrice, 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span></del>
                                                </span>
                                            </span>
                                            <!--<a rel="nofollow" th:href="${productLink}" class="button add_to_cart_button">Add to cart</a>-->
                                        </div><!-- /.price-add-to-cart -->

                                        <!--<div class="hover-area">-->
                                            <!--<div class="action-buttons">-->
                                                <!--<a href="#" rel="nofollow" class="add_to_wishlist">Wishlist</a>-->
                                                <!--<a href="#" class="add-to-compare-link">Compare</a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                    <!-- /.product-inner -->
                                </div><!-- /.product-outer -->
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="shop-control-bar-bottom">
                <p class="woocommerce-result-count" th:text="${pager.totalCount + ' kết quả'}">0 kết quả</p>
                <nav class="woocommerce-pagination">
                    <ul class="page-numbers" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
                        <li th:if="${pager.currentPage > 2}">
                            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('p', 1).toUriString()}" class="page-numbers">←</a>
                        </li>
                        <li th:if="${pager.currentPage > 1}">
                            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('p', pager.currentPage - 1).toUriString()}"
                               class="page-numbers" th:text="${pager.currentPage - 1}">1</a>
                        </li>
                        <li><span class="page-numbers current" th:text="${pager.currentPage}">2</span></li>
                        <li th:if="${pager.currentPage < pager.totalPages}">
                            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('p', pager.currentPage + 1).toUriString()}"
                               class="page-numbers" th:text="${pager.currentPage + 1}">3</a>
                        </li>
                        <li th:if="${pager.currentPage < pager.totalPages - 1}">
                            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('p', pager.totalPages).toUriString()}"
                               class="page-numbers">→</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </main><!-- #main -->
    </div><!-- #primary -->

    <div id="sidebar" class="sidebar" role="complementary">
        <aside class="widget woocommerce widget_product_categories electro_widget_product_categories">
            <ul class="product-categories category-single">
                <li class="product_cat">
                    <ul>
                        <li class="cat-item current-cat"><span th:text="${this_category.i18nName.get(#locale.toLanguageTag())}">Unknown</span>
                            <!--<span class="count">(13)</span>-->
                            <ul class='children'>
                                <li class="cat-item" th:each="category: ${child_categories}">
                                    <a th:href="${'/' + category.i18nSlug.get(#locale.toLanguageTag()) + '-c' + category.selectId}"
                                       th:text="${category.i18nName.get(#locale.toLanguageTag())}">Unknown</a>
                                    <!--<span class="count">(6)</span>-->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <aside class="widget widget_electro_products_filter" id="loading-attribute"
               th:if="${this_category.attributes != null && !this_category.attributes.empty}">
            <h3 class="widget-title">Lọc</h3>
            <script th:inline="javascript">
                jQuery(function ($) {
                    $(window).ready(function () {
                        loadingAttributes.fetchData(/*[[${this_category.attributes}]]*/'none-data');
                    })
                });
            </script>
            <attribute-item v-for="(value, key) in attributes" v-bind:attribute="value" v-bind:key="key"></attribute-item>
            <!--<aside class="widget woocommerce widget_price_filter">-->
                <!--<h3 class="widget-title">Price</h3>-->
                <!--<form action="#">-->
                    <!--<div class="price_slider_wrapper">-->
                        <!--<div style="" class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">-->
                            <!--<div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>-->
                            <!--<span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 0%;"></span>-->
                            <!--<span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 100%;"></span>-->
                        <!--</div>-->
                        <!--<div class="price_slider_amount">-->
                            <!--<a href="#" class="button">Filter</a>-->
                            <!--<div style="" class="price_label">Price: <span class="from">$428</span> &mdash; <span class="to">$3485</span></div>-->
                            <!--<div class="clear"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</aside>-->
        </aside>
        <aside class="widget widget_products">
            <h3 class="widget-title">Sản phẩm mới</h3>
            <script th:inline="javascript">
                jQuery(function ($) {
                    $(window).ready(function () {
                        loadFeaturedProducts.fetchData(/*[[${#locale.toLanguageTag()}]]*/'vi-VN', 'NEW_ARRIVAL',
                                /*[[${this_category.selectId}]]*/'-1', 1, 5);
                    })
                });
            </script>
            <ul class="product_list_widget" id="load_featured_products">
                <li v-for="product in featured_products">
                    <a :href="'/san-pham/' + product.i18n_slug[locale] + '-' + product.sku" :title="product.i18n_name[locale]">
                        <img width="180" height="180" :src="product.images[0].startsWith('http')? product.images[0] : '/products/images/' + product.images[0]"
                             class="wp-post-image" :alt="product.i18n_slug[locale]"/><span class="product-title">{{product.i18n_name[locale]}}</span>
                    </a>
                    <span class="electro-price">
                        <ins><span class="amount">{{ product.sale_price.toLocaleString() }} đ</span></ins>
                        <del><span class="amount">{{ product.regular_price.toLocaleString() }} đ</span></del></span>
                </li>
            </ul>
        </aside>
    </div>

</div><!-- .container -->
</div><!-- #content -->
<th:block layout:replace="/electro/fragments/brand-carousel :: brand-carousel">
    This is a top-header
</th:block>
</th:block>
</body>
</html>