<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="/electro/layout/single_full_width_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb"><a th:href="@{/}">One Mart</a><span class="delimiter"><i
                    class="fa fa-angle-right"></i></span>Đặt Hàng
            </nav>
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <article class="page type-page status-publish hentry">
                        <header class="entry-header"><h1 itemprop="name" class="entry-title">Đặt hàng</h1></header>
                        <!-- .entry-header -->

                        <form enctype="multipart/form-data" th:action="@{/process/checkout}" class="checkout woocommerce-checkout"
                              method="post" name="checkout">
                            <div id="customer_details" class="col2-set">
                                <div class="col-1">
                                    <div class="woocommerce-billing-fields">
                                        <h3>Thông tin giao nhận</h3>
                                        <th:block sec:authorize="!isAuthenticated()">
                                            <p id="billing_first_name_field"
                                               class="form-row form-row form-row-first validate-required">
                                                <label class="" for="billing_first_name">Tên <abbr title="required"
                                                                                                   class="required">*</abbr></label>
                                                <input type="text" value="" placeholder="Nhập tên..." id="billing_first_name"
                                                       name="firstName" class="input-text ">
                                            </p>

                                            <p id="billing_last_name_field"
                                               class="form-row form-row form-row-last validate-required">
                                                <label class="" for="billing_last_name">Họ và tên lót <abbr
                                                        title="required"
                                                        class="required">*</abbr></label>
                                                <input type="text" value="" placeholder="Nhập họ và tên lót..." id="billing_last_name"
                                                       name="lastName" class="input-text ">
                                            </p>
                                            <div class="clear"></div>

                                            <p id="billing_email_field"
                                               class="form-row form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">Địa chỉ email <abbr title="required"
                                                                                                        class="required">*</abbr></label>
                                                <input type="email" value="" placeholder="Nhập email..." id="billing_email"
                                                       name="email" class="input-text ">
                                            </p>
                                        </th:block>
                                        <p id="billing_phone_field"
                                           class="form-row form-row form-row-wide validate-required validate-phone">
                                            <label class="" for="billing_phone">Số điện thoại <abbr title="required"
                                                                                                    class="required">*</abbr></label>
                                            <input type="tel" value="" placeholder="Nhập số điện thoại..." id="billing_phone"
                                                   name="phone" class="input-text ">
                                        </p>

                                        <div class="clear"></div>

                                        <p id="billing_address_2_field"
                                           class="form-row form-row form-row-wide address-field">
                                            <label class="" for="billing_address">Địa chỉ <abbr title="required"
                                                                                                class="required">*</abbr></label>
                                            <input type="text" value="" placeholder="Nhập địa chỉ..."
                                                   id="billing_address" name="address" class="input-text ">
                                        </p>

                                        <p id="billing_city_field"
                                           class="form-row form-row form-row-wide validate-required validate-email">
                                            <label class="" for="billing_city">Thành phố <abbr title="required"
                                                                                               class="required">*</abbr></label>
                                            <input type="text" value="Tp. Hồ Chí Minh" placeholder="Nhập thành phố..."
                                                   id="billing_city" name="city" class="input-text ">
                                        </p>

                                        <p id="order_note_field" class="form-row form-row notes">
                                            <label class="" for="order_note">Lưu ý cho đơn hàng</label>
                                            <textarea cols="5" rows="2" placeholder="Lưu ý của bạn cho đơn hàng: lưu ý khi giao nhận..."
                                                      id="order_note" class="input-text " name="note"></textarea>
                                        </p>

                                        <!--<th:block sec:authorize="!isAuthenticated()">-->
                                            <!--<p class="form-row form-row-wide create-account"><input type="checkbox"-->
                                                                                                    <!--value="1"-->
                                                                                                    <!--name="createAccount"-->
                                                                                                    <!--id="createaccount"-->
                                                                                                    <!--class="input-checkbox">-->
                                                <!--<label class="checkbox" for="createaccount">Tạo tài khoản mới?</label>-->
                                            <!--</p>-->
                                        <!--</th:block>-->
                                    </div>
                                </div>

                                <div class="col-2">
                                    <h3 id="order_review_heading">Đơn hàng của bạn</h3>

                                    <div class="woocommerce-checkout-review-order" id="order_review">
                                        <table class="shop_table woocommerce-checkout-review-order-table">
                                            <thead>
                                            <tr>
                                                <th class="product-name">Sản phẩm</th>
                                                <th class="product-total">Tổng</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="cart_item" th:each="cartProduct : ${cart.cartProducts}">
                                                <td class="product-name">
                                                    <th:block th:text="${cartProduct.product.i18nName.get(#locale.toLanguageTag())}
                                                     + '&nbsp;'">Unknown&nbsp;</th:block>
                                                    <strong class="product-quantity"
                                                            th:text="'x ' + ${cartProduct.quantity}">
                                                        × 0</strong>
                                                </td>
                                                <td class="product-total">
                                                <span class="amount" th:text="${#numbers.formatDecimal(cartProduct.total,
                                                        0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span>
                                                </td>
                                            </tr>
                                            <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Tạm tính</th>
                                                <td><span class="amount" th:text="${#numbers.formatDecimal(
                                          (null == cart ? 0 : cart.totalSum), 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0đ</span>
                                                </td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Phí giao nhận</th>
                                                <td data-title="Shipping"><span class="amount">20,000 đ</span>
                                            </tr>

                                            <tr class="order-total">
                                                <th>Tổng cộng</th>
                                                <td><strong><span class="amount" th:text="${#numbers.formatDecimal(
                                                    (null == cart ? 0 : cart.totalSum + 20000), 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0đ</span></strong>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>

                                        <div class="woocommerce-checkout-payment" id="payment">
                                            <ul class="wc_payment_methods payment_methods methods">
                                                <li class="wc_payment_method payment_method_cod">
                                                    <input type="radio" data-order_button_text="" checked="checked"
                                                           value="cod" name="payment_method" class="input-radio"
                                                           id="payment_method_cod">
                                                    <label for="payment_method_cod">Tiền mặt(COD)</label>
                                                    <div style="display:none;" class="payment_box payment_method_cod">
                                                        <p>Trả tiền khi nhận hàng</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="form-row place-order">
                                                <p class="form-row terms wc-terms-and-conditions">
                                                <input type="checkbox" id="terms" name="terms" class="input-checkbox">
                                                <label class="checkbox" for="terms">Tôi đã đọc và chấp nhận
                                                <a target="_blank" th:href="@{/chinh-sach-onemart}">các điều khoản One Mart</a>
                                                <span class="required">*</span>
                                                </label>
                                                <input type="hidden" value="1" name="terms-field">
                                                </p>
                                                <input type="hidden" th:value="${order_id}" name="orderId"/>
                                                <input type="submit" data-value="Place order" value="Đặt Hàng"
                                                       class="button alt">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </article>
                </main><!-- #main -->
            </div><!-- #primary -->
        </div><!-- .container -->
    </div><!-- #content -->
</th:block>
</body>
</html>