<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/single_full_width_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">
<div id="content" class="site-content" tabindex="-1">
<div class="container">

    <nav class="woocommerce-breadcrumb">
        <span class="delimiter" style="padding: 0;  margin: 0 ;"></span>
        <a th:href="@{/}">One Mart</a>
        <span class="delimiter"><i class="fa fa-angle-right"></i></span><th:block th:text="${page_title}"></th:block>
    </nav>

    <div id="primary" class="content-area" th:with="currentUrl=${@replaceParam.apply('p')}">
        <main id="main" class="site-main">
            <header class="page-header">
                <h1 class="page-title" th:text="${page_title}">Unknown</h1>
                <p class="woocommerce-result-count" th:text="${pager.totalCount + ' kết quả'}">0 kết quả</p>
            </header>

            <div class="shop-control-bar">
                <nav class="electro-advanced-pagination">
                    <form method="post" class="form-adv-pagination">
                        <input id="goto-page" size="2" min="1" max="2" step="1" type="number" class="form-control" th:value="${pager.currentPage}" />
                    </form>
                    <th:block th:text="${'trong ' + pager.totalPages}"></th:block>
                    <!--<a class="next page-numbers" href="#">&rarr;</a>-->
                <script>
                    jQuery(document).ready(function($){
                        $( '.form-adv-pagination' ).on( 'submit', function() {
                            var link 		= '#',
                                goto_page 	= $( '#goto-page' ).val(),
                                new_link 	= link.replace( '%#%', goto_page );

                            window.location.href = new_link;
                            return false;
                        });
                    });
                </script>
                </nav>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="grid" aria-expanded="true">
                    <ul class="products columns-4">
                        <th:block th:each="p, iterStat : ${products}">
                            <li class="product"
                                th:classappend="${iterStat.index % 4 == 0} ? first : ''"
                                th:classappend="${iterStat.index % 4 == 3} ? last : ''">
                                <div class="product-outer">
                                    <div class="product-inner"
                                         th:with="productLink=${'/san-pham/' + p.i18nSlug.get(#locale.toLanguageTag()) + '-'+ p.sku}">
                                        <span class="loop-product-categories" th:with="category=${p.categories[p.categories.size()-1]}">
                                            <a th:href="${'/'+category.i18nSlug.get(#locale.toLanguageTag())+'-c'+category.selectId}" rel="tag"
                                               th:text="${category.i18nName.get(#locale.toLanguageTag())}">Unknown product</a>
                                        </span>
                                        <a th:href="${productLink}">
                                            <h3 th:text="${p.i18nName.get(#locale.toLanguageTag())}"></h3>
                                            <div class="product-thumbnail">
                                                <img th:with="productImg=${p.images.isEmpty() ? '' :
                                                #strings.startsWith(p.images[0],'http')?p.images[0] +'&sz=w250-h225':'/products/images/'+p.images[0]}"
                                                     th:attr="src=${productImg},alt=${p.i18nSlug.get(#locale.toLanguageTag())}" style="width: 250px; height: 225px">
                                            </div>
                                        </a>

                                        <div class="price-add-to-cart">
                                            <span class="price">
                                                <span class="electro-price">
                                                    <ins><span class="amount"
                                                               th:text="${#numbers.formatDecimal(p.salePrice,0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span></ins>
                                                    <del><span class="amount"
                                                               th:text="${#numbers.formatDecimal(p.regularPrice, 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span></del>
                                                </span>
                                            </span>
                                            <!--<a rel="nofollow" th:href="${productLink}" class="button add_to_cart_button">Add to cart</a>-->
                                        </div><!-- /.price-add-to-cart -->

                                        <!--<div class="hover-area">-->
                                            <!--<div class="action-buttons">-->
                                                <!--<a href="#" rel="nofollow" class="add_to_wishlist">Wishlist</a>-->
                                                <!--<a href="#" class="add-to-compare-link">Compare</a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                    <!-- /.product-inner -->
                                </div><!-- /.product-outer -->
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="shop-control-bar-bottom">
                <p class="woocommerce-result-count" th:text="${pager.totalCount + ' kết quả'}">0 kết quả</p>
                <nav class="woocommerce-pagination">
                    <ul class="page-numbers" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
                        <li th:if="${pager.currentPage > 2}">
                            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('p', 1).toUriString()}" class="page-numbers">←</a>
                        </li>
                        <li th:if="${pager.currentPage > 1}">
                            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('p', pager.currentPage - 1).toUriString()}"
                               class="page-numbers" th:text="${pager.currentPage - 1}">1</a>
                        </li>
                        <li><span class="page-numbers current" th:text="${pager.currentPage}">2</span></li>
                        <li th:if="${pager.currentPage < pager.totalPages}">
                            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('p', pager.currentPage + 1).toUriString()}"
                               class="page-numbers" th:text="${pager.currentPage + 1}">3</a>
                        </li>
                        <li th:if="${pager.currentPage < pager.totalPages - 1}">
                            <a th:href="${urlBuilder.fromCurrentRequest().replaceQueryParam('p', pager.totalPages).toUriString()}"
                               class="page-numbers">→</a>
                        </li>
                    </ul>
                </nav>
            </div>

            </main><!-- #main -->
        </div><!-- #primary -->
</div><!-- .container -->
</div><!-- #content -->
</th:block>
</body>
</html>