<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/page_template_default_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">
<div id="content" class="site-content" tabindex="-1">
    <div class="container">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="home-v1-slider" >
                    <!-- ========================================== SECTION – HERO : END========================================= -->
                    <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                        <div class="item" style="background-image: url(/electro/images/slider/5b8d.jpg);">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-5">
                                        <div class="caption vertical-center text-left">
                                            <div class="hero-subtitle-v2 fadeInDown-1">
                                                mua các sản phẩm bạn thích
                                            </div>
                                            <div class="hero-2 fadeInDown-2">
                                                Các sản phẩm thời trang <strong>chính hãng</strong>
                                            </div>
                                            <div class="hero-action-btn fadeInDown-3">
                                                <a th:href="@{/thoi-trang-c8}" class="big le-button ">Mua ngay</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div>
                                </div>
                            </div><!-- /.container -->
                        </div><!-- /.item -->
                        <div class="item" style="background-image: url(/electro/images/slider/49e8.jpg);">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-5">
                                        <div class="caption vertical-center text-left">
                                            <div class="hero-subtitle-v2 fadeInLeft-1">
                                                đi chợ thay bạn
                                            </div>
                                            <div class="hero-2 fadeInRight-1">
                                                 Hải sản và thực phẩm <strong>sạch và ngon </strong>
                                            </div>
                                            <div class="hero-action-btn fadeInLeft-2">
                                                <a th:href="@{/thuc-pham-c24}" class="big le-button ">Bắt đầu đặt hàng ngay</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div>
                                </div>
                            </div><!-- /.container -->
                        </div><!-- /.item -->
                    </div><!-- /.owl-carousel -->
                    <!-- ========================================= SECTION – HERO : END ========================================= -->
                </div><!-- /.home-v1-slider -->

                <section class="section-product-cards-carousel animate-in-view fadeIn animated" data-animation="fadeIn">
                    <header>
                        <h2 class="h1">Sản phẩm mới</h2>
                        <ul class="nav nav-inline">
                            <li class="nav-item active"><span class="nav-link">Top 20</span></li>
                        </ul>
                    </header>
                    <div th:if="${!products.isEmpty()}">
                        <div class="woocommerce columns-3 home-v1-product-cards-carousel product-cards-carousel owl-carousel" th:with="colCount=${6}">
                            <ul class="products columns-3" th:each="r : ${#numbers.sequence(0, products.size() - 1, colCount)}">
                                <th:block th:each="c : ${#numbers.sequence(0, colCount - 1)}" th:if="${r + c < products.size()}" th:with="p=${products[r+c]}">
                                <li class="product product-card"
                                    th:classappend="${(c%3==0 ? 'first' : '') + (c%3==2 ? 'last' : '')}">
                                    <div class="product-outer" th:with="productLink=${'/san-pham/' +p.i18nSlug.get(#locale.toLanguageTag())+'-'+p.sku}">
                                        <div class="media product-inner">
                                            <a class="media-left" th:href="${productLink}" th:title="${p.i18nName.get(#locale.toLanguageTag())}">
                                                <img class="media-object wp-post-image img-responsive" alt=""
                                                     th:with="productImg=${p.images.isEmpty() ? '' :
                                                     #strings.startsWith(p.images[0],'http')?p.images[0]+'&sz=w239-h222':'/products/images/'+p.images[0]}"
                                                     th:attr="src=${productImg},alt=${p.i18nSlug.get(#locale.toLanguageTag())}" style="widows: 146px; height: 135px">
                                            </a>

                                            <div class="media-body">
                                                <span class="loop-product-categories" th:with="cate=${p.categories[p.categories.size()-1]}">
                                                    <a th:href="${'/'+cate.i18nSlug.get(#locale.toLanguageTag())+'-c'+cate.selectId}" rel="tag"
                                                       th:text="${cate.i18nName.get(#locale.toLanguageTag())}">Unknown product</a>
                                                </span>
                                                <a th:href="${productLink}"><h3 th:text="${p.i18nName.get(#locale.toLanguageTag())}">Unknown</h3></a>
                                                <div class="price-add-to-cart">
                                                    <span class="price">
                                                        <span class="electro-price">
                                                            <ins><span class="amount" th:text="${#numbers.formatDecimal(p.salePrice,
                                                                            0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span></ins>
                                                            <del><span class="amount" th:text="${#numbers.formatDecimal(p.regularPrice,
                                                                            0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span></del>
                                                            <span class="amount"> </span>
                                                        </span>
                                                    </span>
                                                    <!--<a th:href="${productLink}" class="button add_to_cart_button">Add to cart</a>-->
                                                </div><!-- /.price-add-to-cart -->
                                            </div>
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </li><!-- /.products -->
                                </th:block>
                            </ul>
                        </div>
                    </div><!-- #home-v1-product-cards-careousel -->
                    <!--<div id="load_featured_products">-->
                        <!--<div class="woocommerce columns-3 home-v1-product-cards-carousel product-cards-carousel owl-carousel">-->
                            <!--<ul class="products columns-3" v-for="products in chunkProducts">-->
                                <!--<li v-for="(product, idx) in products" class="product product-card"-->
                                    <!--:class="{ first: (idx % 3 == 0), last: (idx % 3 == 2) }">-->
                                    <!--<div class="product-outer">-->
                                        <!--<div class="media product-inner">-->

                                            <!--<a class="media-left" v-bind:href="'/san-pham/' + product.slug + '-' + product.sku" v-bind:title="product.name">-->
                                                <!--<img class="media-object wp-post-image img-responsive" src="/electro/images/blank.gif"-->
                                                     <!--alt="" v-bind:data-echo="product.images[0].startsWith('http')-->
                                                     <!--? product.images[0] : '/products/images/' + product.images[0]" style="width: 146px; height: 135px" >-->
                                            <!--</a>-->

                                            <!--<div class="media-body">-->
                                                <!--<span class="loop-product-categories">-->
                                                    <!--<a href="#" rel="tag"></a>-->
                                                <!--</span>-->

                                                <!--<a  v-bind:href="'/san-pham/' + product.slug + '-' + product.sku">-->
                                                    <!--<h3>{{ product.name }}</h3>-->
                                                <!--</a>-->

                                                <!--<div class="price-add-to-cart">-->
                                                    <!--<span class="price">-->
                                                        <!--<span class="electro-price">-->
                                                            <!--<ins><span class="amount">{{ product.sale_price.toLocaleString() }} đ</span></ins>-->
                                                            <!--<del><span class="amount">{{ product.price.toLocaleString() }} đ</span></del>-->
                                                            <!--<span class="amount"> </span>-->
                                                        <!--</span>-->
                                                    <!--</span>-->

                                                    <!--<a v-bind:href="'/san-pham/' + product.slug + '-' + product.sku"-->
                                                       <!--class="button add_to_cart_button">Add to cart</a>-->
                                                <!--</div>&lt;!&ndash; /.price-add-to-cart &ndash;&gt;-->

                                                <!--<div class="hover-area">-->
                                                    <!--<div class="action-buttons">-->
                                                        <!--<a href="#" ></a>-->
                                                        <!--<a href="#" ></a>-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                            <!--</div>-->
                                        <!--</div>&lt;!&ndash; /.product-inner &ndash;&gt;-->
                                    <!--</div>&lt;!&ndash; /.product-outer &ndash;&gt;-->

                                <!--</li>&lt;!&ndash; /.products &ndash;&gt;-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash; #home-v1-product-cards-careousel &ndash;&gt;-->
                    <!--<script th:inline="javascript">-->
                        <!--jQuery(function($) {-->
                            <!--$(window).load(function () {-->
                                <!--loadFeaturedProducts.fetchData('NEW_ARRIVAL');-->
                                <!--loadFeaturedProducts.chunkSize = 6;-->
                            <!--})-->
                        <!--});-->
                    <!--</script>-->
                </section>
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- .container -->
</div><!-- #content -->

<th:block layout:replace="/electro/fragments/brand-carousel :: brand-carousel">
    This is a top-header
</th:block>
</th:block>
</body>
</html>