<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/full_width_extended_layout">
<head>
    <title>One Mart - All you need is here</title>

    <meta property="og:url" th:content="${#httpServletRequest.requestURL.toString()}"/>
    <!--<meta property="og:url1" th:content="${#httpServletRequest.requestURL.toString().replace(#httpServletRequest.requestURI, #httpServletRequest.contextPath)}"/>-->
    <meta property="og:type" content="product.item"/>
    <th:block th:if="${product != null}">
        <meta property="og:title" th:content="${product.i18nName.get(#locale.toLanguageTag())}"/>
        <meta property="og:description" th:content="${product.i18nShortDescription.get(#locale.toLanguageTag())}"/>
        <meta property="og:image" th:content="${#strings.startsWith(product.images[0],'http')?product.images[0]:(
        #httpServletRequest.requestURL.toString().replace(#httpServletRequest.requestURI, #httpServletRequest.contextPath)+'/products/images/' + product.images[0])}"/>
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb">
                <span class="delimiter" style="padding: 0;  margin: 0 ;"></span>
                <a th:href="@{/}">One Mart</a>
                <th:block th:each="category, iterStat : ${product.breadcrum}">
                    <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                    <a th:href="${'/' + category.i18nSlug.get(#locale.toLanguageTag()) + '-c' + category.selectId}"
                       th:text="${category.i18nName.get(#locale.toLanguageTag())}">Unknown></a>
                </th:block>
                <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                <th:block th:text="${product.i18nName.get(#locale.toLanguageTag())}">Unknown</th:block>
            </nav><!-- /.woocommerce-breadcrumb -->

            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="product">
                        <div class="single-product-wrapper">
                            <div class="product-images-wrapper">
                                <span class="onsale">Giảm giá!</span>
                                <div class="images electro-gallery">
                                    <div class="thumbnails-single owl-carousel">
                                        <th:block th:each="image : ${product.images}">
                                            <a th:with="productImg=${#strings.startsWith(image,'http')?image+'&sz=w470-h470':('/products/images/' + image)}"
                                               th:href="${productImg}" class="zoom" th:title="${product.name}"
                                               data-rel="prettyPhoto[product-gallery]">
                                                <img th:attr="src=${productImg},alt=${product.slug}"
                                                     class="wp-post-image" style="width: 470px; height: 470px">
                                            </a>
                                        </th:block>
                                    </div><!-- .thumbnails-single -->

                                    <div class="thumbnails-all columns-5 owl-carousel">
                                        <th:block th:each="image, idxStat : ${product.images}">
                                            <a th:with="productImg=${#strings.startsWith(image,'http')? image + '&sz=w85-h85' : ('/products/images/' + image)}"
                                               th:href="${productImg}" title=""
                                               th:classappend="(idxStat.first) ? 'first' : (idxStat.last ? 'last' : '')">
                                                <img th:attr="src=${productImg},alt=${product.slug}"
                                                     class="wp-post-image" style="width: 85px; height: 85px">
                                            </a>
                                        </th:block>
                                    </div><!-- .thumbnails-all -->
                                </div><!-- .electro-gallery -->
                            </div><!-- /.product-images-wrapper -->

                            <div class="summary entry-summary">
                            <span class="loop-product-categories" th:with="c=${product.categories[product.categories.size() - 1]}">
                                <a th:href="${'/'+c.slug}" rel="tag" th:text="${c.name}">Unknown</a>
                            </span><!-- /.loop-product-categories -->

                            <h1 itemprop="name" class="product_title entry-title" th:text="${product.i18nName.get(#locale.toLanguageTag())}">Unknown</h1>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" title="Đánh giá 5/5">
                                    <span style="width:100%">
                                        <strong itemprop="ratingValue" class="rating">5</strong>trên
                                        <span itemprop="bestRating">5</span> based on
                                        <span itemprop="ratingCount" class="rating">3</span> customer ratings
                                    </span>
                                    </div>
                                    <!--<a href="#reviews" class="woocommerce-review-link">(<span itemprop="reviewCount"-->
                                    <!--class="count">3</span>-->
                                    <!--customer reviews)</a>-->
                                </div><!-- .woocommerce-product-rating -->
                                <div class="brand" style="padding-right: 1.5rem" th:if="${product.originatorKey != null}" th:with="originator=${product.originatorKey}">
                                    <th:block th:text="${originator.i18nName.get(#locale.toLanguageTag())} + ': '">Orignator</th:block>
                                    <th:block th:each="value, idxStat : ${product.originatorValues}">
                                        <a th:if="${idxStat.last}" th:href="${'/'+ originator.i18nSlug.get(#locale.toLanguageTag()) + '/' + value.i18nSlug.get(#locale.toLanguageTag())}"
                                           th:text="${value.i18nName.get(#locale.toLanguageTag())}">Values</a>
                                        <a th:if="${!idxStat.last}" th:href="${'/'+ originator.i18nSlug.get(#locale.toLanguageTag()) + '/' + value.i18nSlug.get(#locale.toLanguageTag())}"
                                           th:text="${value.i18nName.get(#locale.toLanguageTag())}+', '">Values</a>
                                    </th:block>
                                </div><!-- .brand -->
                                <!-- .availability -->
                                <hr class="single-product-title-divider"/>
                                <div itemprop="description">
                                    <th:block th:utext="${product.i18nShortDescription.get(#locale.toLanguageTag())}"></th:block>
                                    <p><strong>SKU</strong>:
                                        <th:block th:text="${product.sku}">Unknown</th:block>
                                    </p>
                                </div><!-- .description -->
                            </div><!-- .summary -->
                            <div class="product-actions-wrapper">
                                <div class="product-actions">
                                    <div th:if="${product.stockLevel > 0}" class="availability in-stock"><span th:text="#{product.stock.status.quantity(${product.stockLevel})}">Còn hàng</span></div>
                                    <div th:if="${product.stockLevel == -1}" class="availability in-stock"><span th:text="#{product.stock.status.instock} ">Còn hàng</span></div>
                                    <div th:if="${product.stockLevel == -2}" class="availability available-on-backorder"><span th:text="#{product.stock.status.temp_out_of_stock}">Tạm hết hàng</span></div>
                                    <div th:if="${product.stockLevel == 0}" class="availability out-of-stock"><span th:text="#{product.stock.status.outofstock} ">Hết hàng</span></div>
                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                        <p class="price">
                                            <span class="electro-price">
                                                <del><span class="amount" th:text="${#numbers.formatDecimal(product.regularPrice,0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span></del>
                                                <ins><span class="amount" th:text="${#numbers.formatDecimal(product.salePrice, 0, 'DEFAULT', 0, 'DEFAULT')} + ' đ'">0 đ</span></ins>
                                            </span>
                                        </p>
                                        <meta itemprop="price" th:attr="content=${product.salePrice}"/>
                                        <meta itemprop="priceCurrency" content="vnđ"/>
                                        <link itemprop="availability" href="http://schema.org/InStock"/>
                                    </div><!-- /itemprop -->
                                    <div id="loading-section">
                                        <loading-component v-if="isLoading"></loading-component>
                                    </div>
                                    <form class="variations_form cart" method="post" th:action="@{/api/shopping/v1/addProduct}" id="add_to_cart">
                                        <div class="single_variation_wrap">
                                            <div class="woocommerce-variation single_variation"></div>
                                            <div class="woocommerce-variation-add-to-cart variations_button" th:if="${product.stockLevel == -1 || product.stockLevel > 0}">
                                                <div class="quantity">
                                                    <label>Số lượng:</label>
                                                    <input type="number" name="quantity" min="1" value="1" title="Số lượng"
                                                           ref="quantity" v-model="quantity" class="input-text qty text"/>
                                                </div>
                                                <input @click.prevent="add()" type="submit" value="MUA NGAY" class="single_add_to_cart_button button"/>
                                            </div>
                                            <input type="hidden" ref="product_sku" name="product_sku" th:value="${product.sku}"/>
                                        </div>
                                        <p style="margin-top: 1%" v-if="errors.length">
                                            <b style="color:red">Bạn nhập thông tin không chính xác</b>
                                        <ul>
                                            <li v-for="error in errors">{{ error }}</li>
                                        </ul>
                                        </p>
                                    </form><!-- /.variations_form -->
                                </div><!-- /.product-actions -->
                            </div><!-- /.product-actions-wrapper -->
                        </div><!-- /.single-product-wrapper -->

                        <div class="woocommerce-tabs wc-tabs-wrapper">
                            <ul class="nav nav-tabs electro-nav-tabs tabs wc-tabs" role="tablist">
                                <li class="nav-item description_tab">
                                    <a href="#tab-description" class="active" data-toggle="tab">Description</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active in panel entry-content wc-tab" id="tab-description">
                                    <div class="electro-description">
                                        <th:block th:utext="${product.i18nDescription.get(#locale.toLanguageTag())}"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.woocommerce-tabs -->

                        <script th:if="${product}" th:inline="javascript">
                            jQuery(function ($) {
                                $(window).ready(function () {
                                    loadRelatedProducts.fetchData(/*[[${product.sku}]]*/'none-data', /*[[${#locale.toLanguageTag()}]]*/'vi-VN');
                                })
                            });
                        </script>
                        <div class="related products" id="load_related_products">
                            <h2>Sản phẩm cùng loại</h2>
                            <ul class="products columns-5">
                                <li class="product" v-for="product in related_products">
                                    <div class="product-outer">
                                        <div class="product-inner">
                                            <span class="loop-product-categories"></span>
                                            <a v-bind:href="'/san-pham/' + product.i18n_slug[locale] + '-' + product.sku">
                                                <h3>{{ product.i18n_name[locale] }}</h3>
                                                <div class="product-thumbnail">
                                                    <img v-bind:src="product.images[0].startsWith('http')? product.images[0] : '/products/images/' + product.images[0]"
                                                         v-bind:alt="product.i18n_name[locale]" style="width: 240px; height: 190px">
                                                </div>
                                            </a>
                                            <div class="price-add-to-cart">
                                                    <span class="price">
                                                        <span class="electro-price">
                                                            <ins><span class="amount">{{ product.sale_price.toLocaleString() }} đ</span></ins>
                                                        </span>
                                                    </span>
                                                <!--<a rel="nofollow" v-bind:href="'/san-pham/' + product.i18n_slug[locale] + '-' + product.sku"-->
                                                   <!--class="button add_to_cart_button">Add to cart</a>-->
                                            </div><!-- /.price-add-to-cart -->

                                            <!--<div class="hover-area">-->
                                            <!--<div class="action-buttons">-->
                                            <!--<a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>-->
                                            <!--<a href="#" class="add-to-compare-link">Compare</a>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                        </div><!-- /.product-inner -->
                                    </div><!-- /.product-outer -->
                                </li>
                            </ul><!-- /.products -->
                        </div><!-- /.related -->
                    </div><!-- /.product -->
                </main><!-- /.site-main -->
            </div><!-- /.content-area -->
        </div><!-- /.container -->
    </div><!-- /.site-content -->

    <th:block layout:replace="/electro/fragments/brand-carousel :: brand-carousel">
        This is a top-header
    </th:block>
</th:block>
</body>
</html>