<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/electro/layout/nonav_full_page_layout">
<head>
    <title>One Mart - All you need is here</title>
</head>
<body>
<th:block layout:fragment="content">
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb" >
            </nav><!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <article id="post-2183" class="hentry">
                        <header class="entry-header">
                            <h1 class="entry-title">ĐẶT HÀNG THÀNH CÔNG</h1>
                            <p class="entry-subtitle">Cám ơn bạn đã đặt hàng trên One Mart</p>
                            <p>Chúc mừng và cám ơn bạn đã đặt hàng thành công. Hãy ấn vào <a th:href="@{/}">
                                đây</a> để về lại trang chủ</p>
                        </header><!-- .entry-header -->
                    </article><!-- #post-## -->
                </main><!-- #main -->
            </div><!-- #primary -->
        </div><!-- .col-full -->
    </div><!-- #content -->

    <th:block layout:replace="/electro/fragments/brand-carousel :: brand-carousel">
        This is a top-header
    </th:block>
</th:block>
</body>
</html>