<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/adminlte/layout/main_layout">
<head>
    <title>Account Management - Administrator - One Mart</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Account Management
                <small>Account list</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Account Management</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Account List Table</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="order_table" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Display name</th>
                                    <th>Authorizations</th>
                                    <th>Account type</th>
                                    <th>Active</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>Display name</th>
                                    <th>Authorizations</th>
                                    <th>Account type</th>
                                    <th>Active</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- DataTables -->
    <script th:src="@{/adminlte/js/dateFormat.min.js}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/adminlte/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/adminlte/js/dateFormat.min.js}"></script>
    <script>
        $( document ).ready(function () {
            var table = $('#order_table').DataTable( {
                ajax: {
                    url: '/api/administration/v1/listAccountData',
                    dataSrc: 'data'
                },
                columns: [
                    { data: 'username'},
                    { data: 'display_name'},
                    { data: 'authorizations' },
                    { data: 'account_type' },
                    { data: 'active' }
                ]
            });
        })
    </script>
</th:block>
</body>
</html>