<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/adminlte/layout/main_layout">
<head>
    <title>Category Management - Administrator - One Mart</title>
    <style>
        .ck-editor__editable {
            min-height: 180px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Category Management
                <small>Category update</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/admin/category-list}"><i class="fa fa-list"></i> Category Management</a></li>
                <li class="active">Update Category</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Update Category</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <script th:inline="javascript">
                    jQuery(function ($) {
                        $(window).ready(function () {
                            addOrUpdateCategoryVue.fetchData(/*[[${targetCategory}]]*/'none-data');
                        })
                    });
                </script>
                <form class="form-horizontal" method="post" action="/process/addOrUpdateCategory" id="add_or_update_category" @submit.prevent="validateForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Category name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="name" placeholder="Category name" name="name" v-model="category_name">
                                        <span><p class="help-block" style="color:#f39c12" v-html="name_message"></p></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="slug" class="col-sm-2 control-label">Slug</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="slug" placeholder="Category slug" name="slug" v-model="category_slug">
                                        <span><p class="help-block" style="color:#f39c12" v-html="slug_message"></p></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label><input type="checkbox" v-model="parse_slug"> Parse name to slug</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="description" class="col-sm-1 control-label">Description</label>
                                        <div class="col-sm-11">
                                    <textarea class="form-control" id="description" placeholder="Description" name="description" style="height: 300px" v-model="product_desc">
                                    </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="categories" class="col-sm-2 control-label">Category</label>
                                    <div class="col-sm-10">
                                        <category-select ref='categoryComponent'></category-select>
                                        <span><p class="help-block" style="color:#f39c12" v-html="category_message"></p></span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="description" class="col-sm-2 control-label">Short description</label>
                                    <div class="col-sm-10">
                            <textarea id="shortDescription" name="shortDescription" placeholder="Short Description" :value="product_shortDesc"
                                      style="height: 30em; width: 100%"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Process Category</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/10.0.0/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-multiselect@2.0.3/dist/vue-multiselect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script th:src="@{/adminlte/js/admin-vue-component.js}"></script>
    <script th:src="@{/adminlte/js/admin-vue-app.js}"></script>
    <script>
        $(function () {
//            ClassicEditor
//                .create( document.querySelector( '#shortDescription' ) )
//                .catch( error => { console.error( error ); });
            CKEDITOR.replace('shortDescription');
            CKEDITOR.replace('description')
        })
    </script>
</th:block>
</body>
</html>