<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>One Mart - Administrator</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" th:href="@{/adminlte/css/bootstrap.min.css}">
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{/adminlte/css/font-awesome.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" th:href="@{/adminlte/css/ionicons.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/adminlte/css/AdminLTE.min.css}">
    <!-- iCheck -->
    <link rel="stylesheet" th:href="@{/adminlte/css/square/green.css}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>OneMart</b> Administration</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form th:action="@{/admin/login-process}" method="post" id="login_form" @submit.prevent="validateForm">
            <div class="form-group has-feedback">
                <input type="input" name="username" class="form-control" placeholder="Username" v-model="username">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span><p style="color: red; padding: 1%" v-html="username_message"></p></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Password" v-model="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span><p style="color: red; padding: 1%" v-html="password_message"></p></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <!--<input type="checkbox"> Remember Me-->
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center" id="form_methods">
            <p>- OR -</p>
            <form id="login_google" th:action="@{/auth/google}" method="post" style="margin-bottom: 2%">
                <input type="hidden" name="scope" value="profile"/>
                <a id="login_google" class="btn btn-block btn-social btn-google btn-flat" v-on:click="submit('login_google')">
                    <i class="fa fa-google-plus"></i> Sign in using Google+
                </a>
            </form>
            <form id="login_facebook" th:action="@{/auth/facebook}" method="post">
                <input type="hidden" name="scope" value="public_profile"/>
                <a id="login_facebook"  class="btn btn-block btn-social btn-facebook btn-flat" v-on:click="submit('login_facebook')">
                    <i class="fa fa-facebook"></i> Sign in using Facebook
                </a>
            </form>
        </div>
        <!-- /.social-auth-links -->

        <!--<a href="#">I forgot my password</a><br>-->
        <!--<a href="register.html" class="text-center">Register a new membership</a>-->

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
<!-- iCheck -->
<script th:src="@{/adminlte/js/icheck.min.js}"></script>
<script th:src="@{/adminlte/js/admin-vue-app.js}"></script>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%' /* optional */
        });
    });
</script>
</body>
</html>
