<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/adminlte/layout/main_layout">
<head>
    <title>Product Management - Administrator - One Mart</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Order Management
                <small>Order list</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Product Management</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Product</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="row" id="test">
                    <div class="col-sm-12">
                        <div>
                            <label class="typo__label">Simple select / dropdown</label>
                            <v-multiselect v-model="value" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Pick some" label="name" track-by="name" :preselect-first="true">
                                <template slot="tag" slot-scope="props"><span class="custom__tag"><span>{{ props.option.language }}</span><span class="custom__remove" @click="props.remove(props.option)">❌</span></span></template>
                            </v-multiselect>
                            <pre class="language-json"><code>{{ value  }}</code></pre>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right">Add Product</button>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <script th:src="@{/adminlte/js/admin-vue-component.js}"></script>
    <script th:src="@{/adminlte/js/admin-vue-app.js}"></script>
    <script>
    </script>
</th:block>
</body>
</html>