<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<th:block layout:fragment="footer-copyright">
    <div class="copyright-bar">
        <div class="container">
            <div class="pull-left flip copyright">&copy; <a th:href="@{/}">One Byte</a> - All Rights Reserved</div>
            <div class="pull-right flip payment">
                <div class="footer-payment-logo">
                    <ul class="cash-card card-inline">
                        <!--<li class="card-item"><img src="/electro/images/footer/payment-icon/1.png" alt="" width="52"></li>-->
                        <!--<li class="card-item"><img src="/electro/images/footer/payment-icon/2.png" alt="" width="52"></li>-->
                        <!--<li class="card-item"><img src="/electro/images/footer/payment-icon/3.png" alt="" width="52"></li>-->
                        <!--<li class="card-item"><img src="/electro/images/footer/payment-icon/4.png" alt="" width="52"></li>-->
                        <!--<li class="card-item"><img src="/electro/images/footer/payment-icon/5.png" alt="" width="52"></li>-->
                    </ul>
                </div><!-- /.payment-methods -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.copyright-bar -->
</th:block>
</body>
</html>