<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<th:block layout:fragment="header">

    <header id="masthead" class="site-header header-v2">
        <div class="container">
            <div class="row">

                <!-- ============================================================= Header Logo ============================================================= -->
                <div class="header-logo">
                    <a th:href="@{/}" class="header-logo-link">
                        <img th:src="@{/electro/images/one_mart_logo.svg}">
                    </a>
                </div>
                <!-- ============================================================= Header Logo : End============================================================= -->

                <div class="primary-nav animate-dropdown">
                    <div class="clearfix">
                        <button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data-toggle="collapse" data-target="#default-header">
                            &#9776;
                        </button>
                    </div>
                </div>

                <div class="header-support-info">
                    <div class="media">
                        <span class="media-left support-icon media-middle"><i class="ec ec-support"></i></span>
                        <div class="media-body">
                            <span class="support-number"><strong>Hỗ trợ</strong> (+84) 909 759 369</span><br/>
                            <span class="support-email">Email: etybeno.tech@gmail.com</span>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div>
    </header><!-- #masthead -->

    <nav class="navbar navbar-primary navbar-full">
        <div class="container">
            <ul class="nav navbar-nav departments-menu animate-dropdown">
                <li class="nav-item dropdown ">
                    <span class="nav-link"></span>
                </li>
            </ul>
            <form class="navbar-search" method="get" th:action="@{/tim-kiem}">
                <label class="sr-only screen-reader-text" for="search">Search for:</label>
                <div class="input-group">
                    <input type="text" id="search" class="form-control search-field" dir="ltr"
                           th:value="${param.q!=null?param.q[0]:''}" name="q" placeholder="Tìm kiếm sản phẩm bằng tên, sku, nhãn hàng..." />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-secondary"><i class="ec ec-search"></i></button>
                    </div>
                </div>
            </form>

            <ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip" id="cart_display">
                <li class="nav-item dropdown">
                    <a th:href="@{/gio-hang}" class="nav-link">
                        <i class="ec ec-shopping-bag"></i>
                        <span class="cart-items-count count">{{ product_num }}</span>
                        <span class="cart-items-total-price total-price"><span class="amount"></span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-mini-cart">
                        <li>
                            <div class="widget_shopping_cart_content">
                                <ul class="cart_list product_list_widget ">
                                    <li class="mini_cart_item">
                                        <a title="Remove this item" class="remove" href="#">×</a>
                                        <a href="single-product.html">
                                            <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image"
                                                 src="/electro/images/products/mini-cart1.jpg" alt="">White lumia 9001&nbsp;
                                        </a>
                                        <span class="quantity">2 × <span class="amount">£150.00</span></span>
                                    </li>
                                    <li class="mini_cart_item">
                                        <a title="Remove this item" class="remove" href="#">×</a>
                                        <a href="single-product.html">
                                            <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="/electro/images/products/mini-cart2.jpg" alt="">PlayStation 4&nbsp;
                                        </a>

                                        <span class="quantity">1 × <span class="amount">£399.99</span></span>
                                    </li>

                                    <li class="mini_cart_item">
                                        <a data-product_sku="" data-product_id="34" title="Remove this item" class="remove" href="#">×</a>
                                        <a href="single-product.html">
                                            <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="/electro/images/products/mini-cart3.jpg" alt="">POV Action Cam HDR-AS100V&nbsp;

                                        </a>
                                        <span class="quantity">1 × <span class="amount">£269.99</span></span>
                                    </li>

                                </ul><!-- end product list -->

                                <p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p>

                                <p class="buttons">
                                    <a class="button wc-forward" href="cart.html">View Cart</a>
                                    <a class="button checkout wc-forward" href="checkout.html">Checkout</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <!--<ul class="navbar-wishlist nav navbar-nav pull-right flip">-->
            <!--<li class="nav-item">-->
            <!--<a href="wishlist.html" class="nav-link"><i class="ec ec-favorites"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--<ul class="navbar-compare nav navbar-nav pull-right flip">-->
            <!--<li class="nav-item">-->
            <!--<a href="compare.html" class="nav-link"><i class="ec ec-compare"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
        </div>
    </nav>
</th:block>
</body>
</html>