<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<th:block layout:fragment="header">
<header id="masthead" class="site-header header-v1">
    <div class="container">
        <div class="row">
            <!-- ============================================================= Header Logo ============================================================= -->
            <div class="header-logo">
                <a th:href="@{/}" class="header-logo-link">
                    <img th:src="@{/electro/images/one_mart_logo.svg}">
                </a>
            </div>
            <!-- ============================================================= Header Logo : End============================================================= -->
            <form class="navbar-search" method="get" th:action="@{/tim-kiem}">
                <label class="sr-only screen-reader-text" for="search">Search for:</label>
                <div class="input-group">
                    <input type="search" id="search" class="form-control search-field" dir="ltr" value="" name="q"
                           placeholder="Tìm kiếm sản phẩm bằng tên, sku, nhãn hàng..." />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-secondary"><i class="ec ec-search"></i></button>
                    </div>
                </div>
            </form>
            <ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip" id="cart_display">
                <li class="nav-item dropdown">
                    <a class="nav-link" th:href="@{/gio-hang}">
                       <!--data-toggle="dropdown" > -->
                        <i class="ec ec-shopping-bag"></i>
                        <span class="cart-items-count count">{{ product_num }}</span>
                        <span class="cart-items-total-price total-price"><span class="amount"></span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-mini-cart">
                        <li>
                            <div class="widget_shopping_cart_content">
                                <ul class="cart_list product_list_widget ">
                                    <li class="mini_cart_item">
                                        <a title="Remove this item" class="remove" href="#">×</a>
                                        <a href="single-product.html">
                                            <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="/electro/images/products/mini-cart1.jpg" alt="">White lumia 9001&nbsp;
                                        </a>
                                        <span class="quantity">2 × <span class="amount">£150.00</span></span>
                                    </li>
                                    <li class="mini_cart_item">
                                        <a title="Remove this item" class="remove" href="#">×</a>
                                        <a href="single-product.html">
                                            <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="/electro/images/products/mini-cart2.jpg" alt="">PlayStation 4&nbsp;
                                        </a>
                                        <span class="quantity">1 × <span class="amount">£399.99</span></span>
                                    </li>
                                    <li class="mini_cart_item">
                                        <a data-product_sku="" data-product_id="34" title="Remove this item" class="remove" href="#">×</a>
                                        <a href="single-product.html">
                                            <img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="/electro/images/products/mini-cart3.jpg" alt="">POV Action Cam HDR-AS100V&nbsp;
                                        </a>
                                        <span class="quantity">1 × <span class="amount">£269.99</span></span>
                                    </li>
                                </ul><!-- end product list -->
                                <p class="total"><strong>Subtotal:</strong> <span class="amount">£969.98</span></p>
                                <p class="buttons">
                                    <a class="button wc-forward" href="cart.html">Xem Giỏ Hàng</a>
                                    <a class="button checkout wc-forward" href="checkout.html">Thanh Toán</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<ul class="navbar-wishlist nav navbar-nav pull-right flip">-->
                <!--<li class="nav-item">-->
                    <!--<a href="wishlist.html" class="nav-link"><i class="ec ec-favorites"></i></a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<ul class="navbar-compare nav navbar-nav pull-right flip">-->
            <!--<li class="nav-item">-->
            <!--<a href="compare.html" class="nav-link"><i class="ec ec-compare"></i></a>-->
            <!--</li>-->
            <!--</ul>-->
        </div><!-- /.row -->

        <th:block layout:replace="/electro/fragments/navbar :: navbar">
            This is a top-header
        </th:block>
    </div>
</header><!-- #masthead -->

</th:block>
</body>
</html>