<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<th:block layout:fragment="navbar">
<div class="row">
    <div class="col-xs-12 col-lg-3">
        <nav>
            <script th:inline="javascript">
                jQuery(function ($) {
                    $(window).ready(function () {
                        loadAllCategories.fetchData(/*[[${#locale.toLanguageTag()}]]*/'vi-VN');
                    })
                });
            </script>
            <ul class="list-group vertical-menu yamm make-absolute departments-menu-dropdown" id="load_categories">
                <li class="list-group-item"><span>
                    <i class="fa fa-list-ul"></i> <th:block Unknown th:text="#{general.all_menu}">Unknown</th:block></span>
                </li>
                <!--<li class="highlight menu-item animate-dropdown"><a title="Value of the Day" href="home-v2.html">Value of the Day</a></li>-->
                <li class="highlight menu-item animate-dropdown">
                    <a title="Top Bán Chạy" th:href="@{/top-ban-chay}" th:text="#{general.best_seller}">Unknown</a>
                </li>
                <li class="highlight menu-item animate-dropdown">
                    <a title="Sản Phẩm Mới" th:href="@{/san-pham-moi}" th:text="#{general.new_arrival}">Unknown</a>
                </li>
                <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown" v-for="category in categories">
                    <a v-bind:title="category.name" data-hover="dropdown" v-bind:href="category.slug + '-c' + category.select_id"
                       data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{ category.i18n_name[locale] }}</a>
                    <ul role="menu" class="dropdown-menu">
                        <li class="menu-item animate-dropdown menu-item-object-static_block">
                            <div class="yamm-content">
                                <div class="row bg-yamm-content bg-yamm-content-bottom bg-yamm-content-right">
                                    <div class="col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_left">
                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper vc_box_border_grey">
                                                            <!--<img src="/electro/images/megamenu-2.png" class="vc_single_image-img attachment-full" alt="">-->
                                                        </div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6" v-for="category1 in category.children">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <ul>
                                                            <li v-if="category1.children" class="nav-title">{{ category1.i18n_name[locale] }}</li>
                                                            <li v-if="!category1.children">
                                                                <a v-bind:href="category1.i18n_slug[locale] + '-c' + category1.select_id">{{ category1.i18n_name[locale] }}</a>
                                                            </li>
                                                            <li v-for="category2 in category1.children">
                                                                <a v-bind:href="category2.i18n_slug[locale] + '-c' + category2.select_id">{{ category2.i18n_name[locale] }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <ul>
                                                            <li class="nav-divider"></li>
                                                            <li><a v-bind:href="category.i18n_slug[locale]+ '-c' + category.select_id">
                                                                <span class="nav-text">{{ category.i18n_name[locale] }}</span>
                                                                <span class="nav-subtext">Khám phá các sản phẩm tuyệt vời</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-12 col-lg-9">
        <nav>
            <ul id="menu-secondary-nav" class="secondary-nav">
                <!--<li class="highlight menu-item"><a href="home-v2.html">Super Deals</a></li>-->
                <!--<li class="menu-item"><a href="home-v3.html">Featured Brands</a></li>-->
                <!--<li class="menu-item"><a href="home-v3-full-color-background.html">Trending Styles</a></li>-->
                <!--<li class="menu-item"><a href="blog-v1.html">Gift Cards</a></li>-->
                <li class="pull-right menu-item"><span>Miễn phí giao nhận cho đơn hàng hơn 300,000 đ</span></li>
            </ul>
        </nav>
    </div>
</div>
</th:block>
</body>
</html>