<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<th:block layout:fragment="top-bar">
    <div class="top-bar">
        <div class="container">
            <nav>
                <ul id="menu-top-bar-left" class="nav nav-inline pull-left animate-dropdown flip">
                    <li class="menu-item animate-dropdown">
                        <span th:title="#{general.greeting}" th:text="#{general.greeting}"></span>
                    </li>
                </ul>
            </nav>
            <nav>
                <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
                    <!--<li class="menu-item animate-dropdown"><a title="Store Locator" hreTf="#"><i-->
                            <!--class="ec ec-map-pointer"></i>Store Locator</a></li>-->
                    <!--<li class="menu-item animate-dropdown"><a title="Track Your Order" href="track-your-order.html"><i-->
                            <!--class="ec ec-transport"></i>Track Your Order</a></li>-->
                    <!--<li class="menu-item animate-dropdown"><a title="Shop" href="shop.html"><i-->
                            <!--class="ec ec-shopping-bag"></i>Shop</a></li>-->
                    <li sec:authorize="!isAuthenticated()" class="menu-item animate-dropdown">
                        <a title="Tài Khoản" th:href="@{/dang-nhap}">
                            <i class="ec ec-user"></i><th:block th:text="#{general.account}"></th:block>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="menu-item menu-item-has-children animate-dropdown dropdown">
                        <a title="Tài Khoản" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">
                            <i class="ec ec-user"></i><th:block th:text="#{general.account.greeting}"></th:block>
                            <th:block sec:authentication="principal.displayName"></th:block>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li class="menu-item animate-dropdown">
                                <a title="Tài Khoản" th:href="@{/tai-khoan}">Tài Khoản</a>
                            </li>
                            <li class="menu-item animate-dropdown">
                                <a title="Lịch Sử Đơn Hàng" th:href="@{/tai-khoan/don-hang}">Lịch Sử Đơn Hàng</a>
                            </li>
                            <li class="menu-item animate-dropdown">
                                <a th:title="#{general.account.logout}" th:href="@{/dang-xuat}" th:text="#{general.account.logout}">Đăng Xuất</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- /.top-bar -->
</th:block>
</body>
</html>