<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="/adminlte/layout/main_layout">
<head>
    <title>Order Detail - Administrator - One Mart</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <small>Order detail</small>
                <th:block th:text="${order.orderId}"></th:block>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/admin/}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/admin/order/}"><i class="fa fa-list"></i> Order Management</a></li>
                <li class="active">Order detail</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Update Order</h3>
                </div>
                <form class="form-horizontal" method="post" action="/admin/process/updateOrder" id="update_order" @submit.prevent="validateForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="orderId" class="col-sm-1 control-label">OrderId</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="orderId" readonly="true" name="orderId" th:value="${order.orderId}">
                                    </div>
                                    <label for="status" class="col-sm-1 control-label">Status</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="status" name="orderStatus">
                                            <option th:attr="selected=${order.orderStatus == T(com.etybeno.ecommerce.data.enums.OrderStatus).AWAITING_FULFILMENT}"
                                            value="AWAITING_FULFILMENT">AWAITING FULFILMENT</option>
                                            <option th:attr="selected=${order.orderStatus == T(com.etybeno.ecommerce.data.enums.OrderStatus).VERIFICATION_REQUIRED}"
                                                    value="VERIFICATION_REQUIRED">VERIFICATION REQUIRED</option>
                                            <option th:attr="selected=${order.orderStatus == T(com.etybeno.ecommerce.data.enums.OrderStatus).AWAITING_SHIPMENT}"
                                                    value="AWAITING_SHIPMENT">AWAITING SHIPMENT</option>
                                            <option th:attr="selected=${order.orderStatus == T(com.etybeno.ecommerce.data.enums.OrderStatus).COMPLETED}"
                                                    value="COMPLETED">COMPLETED</option>
                                            <option th:attr="selected=${order.orderStatus == T(com.etybeno.ecommerce.data.enums.OrderStatus).CANCELLED}"
                                                    value="CANCELLED">CANCELLED</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="displayName" class="col-sm-1 control-label">Name</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="displayName" readonly="true" name="displayName" th:value="${order.displayName}">
                                    </div>
                                    <label for="phone" class="col-sm-1 control-label">Phone</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="phone" readonly="true" name="phone" th:value="${order.shippingAddress.phone}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-1 control-label">Email</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="email" readonly="true" name="email" th:value="${order.shippingAddress.email}">
                                    </div>
                                    <label for="city" class="col-sm-1 control-label">City</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="city" readonly="true" name="city" th:value="${order.shippingAddress.city}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-1 control-label">Address</label>
                                    <div class="col-sm-11">
                                        <input class="form-control" id="address" readonly="true" name="address" th:value="${order.shippingAddress.address}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="note" class="col-sm-1 control-label">Note</label>
                                    <div class="col-sm-11">
                                        <textarea class="form-control" id="note" readonly="true" name="note" th:text="${order.note}">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <div class="box-body">
                                <table id="seller_table" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="product, iterStat : ${order.orderProducts}">
                                            <td style="text-align: center" th:text="${iterStat.count}"></td>
                                            <td th:text="${product.productName}"></td>
                                            <td th:text="${product.quantity}"></td>
                                            <td style="text-align: right"
                                                    th:text="${#numbers.formatDecimal(product.price,0, 'DEFAULT', 0, 'DEFAULT')}"></td>
                                            <td style="text-align: right"
                                                    th:text="${#numbers.formatDecimal(product.price*product.quantity,0, 'DEFAULT', 0, 'DEFAULT')}"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="text-align: right; font-weight: bold">Sum</td>
                                            <td colspan="2" style="text-align: right; font-weight: bold"
                                                th:text="${#numbers.formatDecimal(order.totalAmount,0, 'DEFAULT', 0, 'DEFAULT')}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Update Order</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-multiselect@2.0.3/dist/vue-multiselect.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <script th:src="@{/adminlte/js/admin-vue-component.js}"></script>
    <script th:src="@{/adminlte/js/admin-vue-app.js}"></script>
</th:block>
</body>
</html>