<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<th:block layout:fragment="sidebar">
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:attr="src=${#authentication.principal.avatarUri}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p th:text="${#authentication.principal.displayName}">Anonymous</p>
                <!-- Status -->
                <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <!-- Optionally, you can add icons to the links -->
            <li th:classappend="${#strings.equals(_page,'index')} ? 'active': ''">
                <a th:href="@{/admin/}"><i class="fa fa-link"></i> <span>Dashboard</span></a>
            </li>
            <li th:classappend="${#strings.equals(_page,'account')} ? 'active': ''">
                <a th:href="@{/admin/account}"><i class="fa fa-users"></i> <span>Account Management</span></a>
            </li>
            <li class="treeview" th:classappend="${#strings.startsWith(_page,'seller')} ? 'menu-open active': ''">
                <a href="#"><i class="fa fa-gift"></i> <span>Seller Management</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu" th:styleappend="${#strings.startsWith(_page,'seller')} ? 'display: block': ''">
                    <li th:classappend="${#strings.equals(_page,'seller-list')} ? 'active': ''"><a th:href="@{/admin/seller}">Seller</a></li>
                    <li th:classappend="${#strings.equals(_page,'seller-add')} ? 'active': ''"><a th:href="@{/admin/seller/add}">Add Seller</a></li>
                </ul>
            </li>
            <li class="treeview" th:classappend="${#strings.startsWith(_page,'product')} ? 'menu-open active': ''">
                <a href="#"><i class="fa fa-gift"></i> <span>Product Management</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu" th:styleappend="${#strings.startsWith(_page,'product')} ? 'display: block': ''">
                    <li th:classappend="${#strings.equals(_page,'product/category-list')} ? 'active': ''"><a th:href="@{/admin/category}">Category</a></li>
                    <li th:classappend="${#strings.equals(_page,'product-list')} ? 'active': ''"><a th:href="@{/admin/product}">Product</a></li>
                    <li th:classappend="${#strings.equals(_page,'product-add')} ? 'active': ''"><a th:href="@{/admin/product/add}">Add Product</a></li>
                </ul>
            </li>
            <li th:classappend="${#strings.equals(_page,'order')} ? 'active': ''">
                <a th:href="@{/admin/order}"><i class="fa fa-shopping-cart"></i> <span>Order Management</span></a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
</th:block>
</body>
</html>