<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<th:block layout:fragment="navbar">
<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img th:attr="src=${#authentication.principal.avatarUri}" class="user-image" alt="User Image">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs" th:text="${#authentication.principal.displayName}">Anonymous</span>
                </a>
                <!--<ul class="dropdown-menu">-->
                    <!--&lt;!&ndash; The user image in the menu &ndash;&gt;-->
                    <!--<li class="user-header">-->
                        <!--<img th:src="@{/adminlte/img/user2-160x160.jpg}" class="img-circle" alt="User Image">-->

                        <!--<p>-->
                            <!--Alexander Pierce - Web Developer-->
                            <!--<small>Member since Nov. 2012</small>-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--&lt;!&ndash; Menu Body &ndash;&gt;-->
                    <!--<li class="user-body">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-4 text-center">-->
                                <!--<a href="#">Followers</a>-->
                            <!--</div>-->
                            <!--<div class="col-xs-4 text-center">-->
                                <!--<a href="#">Sales</a>-->
                            <!--</div>-->
                            <!--<div class="col-xs-4 text-center">-->
                                <!--<a href="#">Friends</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.row &ndash;&gt;-->
                    <!--</li>-->
                    <!--&lt;!&ndash; Menu Footer&ndash;&gt;-->
                    <!--<li class="user-footer">-->
                        <!--<div class="pull-left">-->
                            <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                        <!--</div>-->
                        <!--<div class="pull-right">-->
                            <!--<a href="#" class="btn btn-default btn-flat">Sign out</a>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>
</nav>
</th:block>
</body>
</html>